*.class

# Package Files #
*.jar
*.war
*.ear
*.log

# Eclipse files #
.classpath
.project

.DS_Store
.springBeans
.settings


.gradle

**/target

application.development.properties
/target

/bin

#*.sh
/build
