[project]
	description = Spring RSF ??? RESTEasy & Spring ??? RESTful ?????? RPC ???
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denger Tung (denger)
[access "refs/for/refs/*"]
	read = group user/Denger Tung (denger)
	push = group user/Denger Tung (denger)
	label-Code-Review = -2..+2 group user/Denger Tung (denger)
	label-Verified = -1..+1 group user/Denger Tung (denger)
	rebase = group user/Denger Tung (denger)
	removeReviewer = group user/Denger Tung (denger)
	submit = group user/Denger Tung (denger)
[access "refs/heads/*"]
	read = group user/Denger Tung (denger)
	create = group user/Denger Tung (denger)
	push = +force group user/Denger Tung (denger)
	pushMerge = group user/Denger Tung (denger)
[access "refs/tags/*"]
	push = +force group user/Denger Tung (denger)
	pushTag = group user/Denger Tung (denger)
	pushSignedTag = group user/Denger Tung (denger)
